<main>
    <div class="container py-6">
        {{> errors}}
        <section>
            {{#if isLoggedIn}}
            <header class="p-2 mb-2 border-b flex flex-wrap justify-between items-center">
                <h1 class="text-4xl mb-2 inline">Folders</h1>
                <span>
                    <a href="/create-folder" class="rounded p-2 mr-1 bg-green-500 text-white"><i class="fas fa-folder-plus fa-lg"></i>&nbsp;Create a folder</a>
                </span>
            </header>
            {{else}}
            <h1 class="text-4xl p-2 mb-2 border-b">Folders</h1>
            {{/if}}
            {{#if folders.length}}
            <ul class="flex flex-wrap">
                {{#each folders}}
                <li class="w-1/2 sm:w-3/6 md:w-2/6 lg:w-1/5">
                    <a href="folder/{{this.id}}" class="block text-center p-2 m-1 sm:p-4 md:m-2 border border-solid border-gray-400">
                        <i class="block fas fa-folder fa-3x text-blue-600 py-2"></i>
                        <h2 class="py-2">{{this.name}}</h2>
                        <p class="pb-1 text-xs">{{this.snippetsCount}} Snippets</p>
                    </a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p class="my-6 text-2xl text-center">No folders created yet</p>
            {{/if}}
        </section>
    </div>
</main>
