<main>
    <div class="container py-6">
        {{> errors}}
        <h1 class="text-4xl p-2 mb-2 border-b">Messages</h1>
            {{#if messages.length}}
            <ul>
                {{#each messages}}
                <li class="shadow bg-white rounded p-2 mb-2">
                    <div class="flex justify-between items-center">
                        <a href="#{{this.id}}" class="text-blue-500">#{{this.id}}</a>
                        <a href="/message/delete/{{this.id}}" class="rounded p-2 mr-1 bg-red-500 text-white ">Delete</a>
                    </div>
                    <a href="/message/{{this.id}}" class="block py-2">
                    
                    <p class="my-2">Message sent <b><time datetime="{{this.postDate}}">{{this.postDate}}</time></b> by <b>{{this.name}}</b></p>
                    {{#if this.readDate}}
                    <p class="text-sm my-1"><b>Read Date: </b><time datetime="{{this.readDate}}">{{this.readDate}}</time></p>
                    {{/if}}
                    </a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p class="my-6 text-2xl text-center">No messages sent yet</p>
            {{/if}}
    </div>
</main>
