<main>
    <div class="container py-6">
        <article class="shadow bg-white rounded p-2">
            {{!-- header --}}
            <header class="py-2 mb-2 border-b flex flex-wrap items-center justify-between">
                <h1 class="text-2xl">{{snippet.title}}</h1>
                <p class="text-sm p-1 border border-solid">{{#if snippet.language}}{{snippet.language}}{{else}}Unspecified{{/if}}</p>
            </header>
            {{!-- Code --}}
            <pre class="overflow-x-auto px-2">
                <code>{{{snippet.code}}}</code>
            </pre>
            {{#if isLoggedIn}}
            <div class="flex flex-wrap flex-row-reverse">
                <a href="/snippet/delete/{{snippet.id}}" class="rounded p-1 mr-1 bg-red-500 text-white text-sm">Delete</a>
                <a href="/snippet/edit/{{snippet.id}}" class="rounded p-1 mr-1 bg-blue-500 text-white text-sm">Edit</a>
            </div>
            {{/if}}
            <footer class="p-2 mt-2 border-t flex flex-wrap justify-between">
                {{!-- Date --}}
                {{#if modified}}
                <p class="text-sm p-1 border"><b>Last Edited: </b><time datetime="{{snippet.lastModified}}">{{snippet.lastModified}}</time></p>
                {{else}}
                <p class="text-sm p-1 border"><b>Post Date: </b><time datetime="{{snippet.postDate}}">{{snippet.postDate}}</time></p>
                {{/if}}
                {{!-- Folder --}}
                {{#if snippet.folderId}}
                <a class="text-sm p-1 border text-blue-700" href="/folder/{{snippet.folderId}}"><i class="far fa-folder fa-lg"></i>&nbsp;{{snippet.folder}}</a>
                {{/if}}
            </footer>
        </article>
    </div>
</main>
